---
title: Index gallery
---
menuActiveIndex: 4
---
{% extends "layouts/_layout.html" %}

{% block content %}
    
    {{ header.block(4) }}
	<!-- start gallery -->
	<div class="wrapper">
		<div class="container">
			<h3>Фотографии двухспального номера</h3>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<a href="http://via.placeholder.com/750x550" class="room-picture" data-fancybox="gallery" style="background-image: url(http://via.placeholder.com/269x157);"></a>
				</div>
				<div class="col-lg-3 col-md-6">
					<a href="http://via.placeholder.com/750x550" class="room-picture" data-fancybox="gallery" style="background-image: url(http://via.placeholder.com/269x157);"></a>
				</div>
				<div class="col-lg-3 col-md-6">
					<a href="http://via.placeholder.com/750x550" class="room-picture" data-fancybox="gallery" style="background-image: url(http://via.placeholder.com/269x157);"></a>
				</div>
				<div class="col-lg-3 col-md-6">
					<a href="http://via.placeholder.com/750x550" class="room-picture" data-fancybox="gallery" style="background-image: url(http://via.placeholder.com/269x157);"></a>
				</div>
			</div>
			<span class="row-line"></span>
			<h3>Фотографии территории</h3>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<a href="http://via.placeholder.com/750x550" class="room-picture" data-fancybox="gallery2" style="background-image: url(http://via.placeholder.com/269x157);"></a>
				</div>
				<div class="col-lg-3 col-md-6">
					<a href="http://via.placeholder.com/750x550" class="room-picture" data-fancybox="gallery2" style="background-image: url(http://via.placeholder.com/269x157);"></a>
				</div>
				<div class="col-lg-3 col-md-6">
					<a href="http://via.placeholder.com/750x550" class="room-picture" data-fancybox="gallery2" style="background-image: url(http://via.placeholder.com/269x157);"></a>
				</div>
				<div class="col-lg-3 col-md-6">
					<a href="http://via.placeholder.com/750x550" class="room-picture" data-fancybox="gallery2" style="background-image: url(http://via.placeholder.com/269x157);"></a>
				</div>
				<div class="col-lg-3 col-md-6">
					<a href="http://via.placeholder.com/750x550" class="room-picture" data-fancybox="gallery2" style="background-image: url(http://via.placeholder.com/269x157);"></a>
				</div>
				<div class="col-lg-3 col-md-6">
					<a href="http://via.placeholder.com/750x550" class="room-picture" data-fancybox="gallery2" style="background-image: url(http://via.placeholder.com/269x157);"></a>
				</div>
				<div class="col-lg-3 col-md-6">
					<a href="http://via.placeholder.com/750x550" class="room-picture" data-fancybox="gallery2" style="background-image: url(http://via.placeholder.com/269x157);"></a>
				</div>
			</div>
			<span class="row-line"></span>
			<h3>Фотографии Зоны отдыха</h3>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<a href="http://via.placeholder.com/750x550" class="room-picture" data-fancybox="gallery3" style="background-image: url(http://via.placeholder.com/269x157);"></a>
				</div>
				<div class="col-lg-3 col-md-6">
					<a href="http://via.placeholder.com/750x550" class="room-picture" data-fancybox="gallery3" style="background-image: url(http://via.placeholder.com/269x157);"></a>
				</div>
				<div class="col-lg-3 col-md-6">
					<a href="http://via.placeholder.com/750x550" class="room-picture" data-fancybox="gallery3" style="background-image: url(http://via.placeholder.com/269x157);"></a>
				</div>
				<div class="col-lg-3 col-md-6">
					<a href="http://via.placeholder.com/750x550" class="room-picture" data-fancybox="gallery3" style="background-image: url(http://via.placeholder.com/269x157);"></a>
				</div>
			</div>
		</div>	
	</div>
	<!-- end gallery -->
	<div class="map" id="map"></div>
	{% include "partials/_footer.html" %}

{% endblock %}
