---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include "partials/_header.html" %}
	<div class="wrapper">
		<div class="hero-room">
			<div class="container">
				<div class="hero-room__block">
					<div class="hero-room__room-picture">
					 <div class="room-picture" style="background-image: url(img/hotel-room.png)"></div>
					</div>
					<div class="hero-room__info">
						<div class="hero-room__info-head">
							<h2 class="hero-room__title h4">
								Стандарт Twin/Standard Twin Room
							</h2>
							<div class="hero-room__price">Цена за сутки: 2 500 руб.</div>
						</div>		
						<ul class="hero-room__list">
							<li class="hero-room__item">
								<span class="hero-room__label">Кол-во гостей:</span>4 чел.
							</li>
							<li class="hero-room__item">
								<span class="hero-room__label">Кровать:</span>Одна двухспальная
							</li>
							<li class="hero-room__item">
								<span class="hero-room__label">Площадь:</span>15 мет.
							</li>
						</ul>
						<div class="hero-room__descr">
							<p>
								В номере: две односпальные кровати, стол, рабочий стол, гардероб, телефон, тумбочка, телевизор, спутниковое телевидение, интернет, Wi-Fi, холодильник. В ванной: туалет, раковина, ванна, набор полотенец.
							</p>
						</div>
						<div class="hero-room__info-bottom">
							<div class="hero-room__price-sm">Цена за сутки: 2 500 руб.</div>
							<div class="hero-room__reservation">
								<a href="#" class="btn btn_blue">
									<span class="icon-reservation"></span>
									<span class="btn__text">Забронировать</span>
								</a>
							</div>
							<div class="hero-room__services">
								<span class="hero-room__services-title">Услуги:</span>
								<ul class="hero-room__list-icon">
									<li class="hero-room__item-icon">
										<span class="icon-wi-fi"></span>
									</li>
									<li class="hero-room__item-icon">
										<span class="icon-ordinator"></span>
									</li>
									<li class="hero-room__item-icon">
										<span class="icon-safe"></span>
									</li>
									<li class="hero-room__item-icon">
										<span class="icon-tv"></span>
									</li>
									<li class="hero-room__item-icon">
										<span class="icon-reservation-gr"></span>
									</li>
								</ul>
							</div>	
						</div>
					</div>
				</div>
				<div class="hero-room__block">
					<div class="hero-room__room-picture">
					 <div class="room-picture" style="background-image: url(img/hotel-room.png)"></div>
					</div>
					<div class="hero-room__info">
						<div class="hero-room__info-head">
							<h2 class="hero-room__title h4">
								Стандарт Twin/Standard Twin Room
							</h2>
							<div class="hero-room__price">Цена за сутки: 2 500 руб.</div>
						</div>		
						<ul class="hero-room__list">
							<li class="hero-room__item">
								<span class="hero-room__label">Кол-во гостей:</span>4 чел.
							</li>
							<li class="hero-room__item">
								<span class="hero-room__label">Кровать:</span>Одна двухспальная
							</li>
							<li class="hero-room__item">
								<span class="hero-room__label">Площадь:</span>15 мет.
							</li>
						</ul>
						<div class="hero-room__descr">
							<p>
								В номере: две односпальные кровати, стол, рабочий стол, гардероб, телефон, тумбочка, телевизор, спутниковое телевидение, интернет, Wi-Fi, холодильник. В ванной: туалет, раковина, ванна, набор полотенец.
							</p>
						</div>
						<div class="hero-room__info-bottom">
							<div class="hero-room__price-sm">Цена за сутки: 2 500 руб.</div>
							<div class="hero-room__reservation">
								<a href="#" class="btn btn_blue">
									<span class="icon-reservation"></span>
									<span class="btn__text">Забронировать</span>
								</a>
							</div>
							<div class="hero-room__services">
								<span class="hero-room__services-title">Услуги:</span>
								<ul class="hero-room__list-icon">
									<li class="hero-room__item-icon">
										<span class="icon-wi-fi"></span>
									</li>
									<li class="hero-room__item-icon">
										<span class="icon-ordinator"></span>
									</li>
									<li class="hero-room__item-icon">
										<span class="icon-safe"></span>
									</li>
									<li class="hero-room__item-icon">
										<span class="icon-tv"></span>
									</li>
									<li class="hero-room__item-icon">
										<span class="icon-reservation-gr"></span>
									</li>
								</ul>
							</div>	
						</div>
					</div>
				</div>
				<div class="hero-room__block">
					<div class="hero-room__room-picture">
					 <div class="room-picture" style="background-image: url(img/hotel-room.png)"></div>
					</div>
					<div class="hero-room__info">
						<div class="hero-room__info-head">
							<h2 class="hero-room__title h4">
								Стандарт Twin/Standard Twin Room
							</h2>
							<div class="hero-room__price">Цена за сутки: 2 500 руб.</div>
						</div>		
						<ul class="hero-room__list">
							<li class="hero-room__item">
								<span class="hero-room__label">Кол-во гостей:</span>4 чел.
							</li>
							<li class="hero-room__item">
								<span class="hero-room__label">Кровать:</span>Одна двухспальная
							</li>
							<li class="hero-room__item">
								<span class="hero-room__label">Площадь:</span>15 мет.
							</li>
						</ul>
						<div class="hero-room__descr">
							<p>
								В номере: две односпальные кровати, стол, рабочий стол, гардероб, телефон, тумбочка, телевизор, спутниковое телевидение, интернет, Wi-Fi, холодильник. В ванной: туалет, раковина, ванна, набор полотенец.
							</p>
						</div>
						<div class="hero-room__info-bottom">
							<div class="hero-room__price-sm">Цена за сутки: 2 500 руб.</div>
							<div class="hero-room__reservation">
								<a href="#" class="btn btn_blue">
									<span class="icon-reservation"></span>
									<span class="btn__text">Забронировать</span>
								</a>
							</div>
							<div class="hero-room__services">
								<span class="hero-room__services-title">Услуги:</span>
								<ul class="hero-room__list-icon">
									<li class="hero-room__item-icon">
										<span class="icon-wi-fi"></span>
									</li>
									<li class="hero-room__item-icon">
										<span class="icon-ordinator"></span>
									</li>
									<li class="hero-room__item-icon">
										<span class="icon-safe"></span>
									</li>
									<li class="hero-room__item-icon">
										<span class="icon-tv"></span>
									</li>
									<li class="hero-room__item-icon">
										<span class="icon-reservation-gr"></span>
									</li>
								</ul>
							</div>	
						</div>
					</div>
				</div>
				<div class="hero-room__block">
					<div class="hero-room__room-picture">
					 <div class="room-picture" style="background-image: url(img/hotel-room.png)"></div>
					</div>
					<div class="hero-room__info">
						<div class="hero-room__info-head">
							<h2 class="hero-room__title h4">
								Стандарт Twin/Standard Twin Room
							</h2>
							<div class="hero-room__price">Цена за сутки: 2 500 руб.</div>
						</div>		
						<ul class="hero-room__list">
							<li class="hero-room__item">
								<span class="hero-room__label">Кол-во гостей:</span>4 чел.
							</li>
							<li class="hero-room__item">
								<span class="hero-room__label">Кровать:</span>Одна двухспальная
							</li>
							<li class="hero-room__item">
								<span class="hero-room__label">Площадь:</span>15 мет.
							</li>
						</ul>
						<div class="hero-room__descr">
							<p>
								В номере: две односпальные кровати, стол, рабочий стол, гардероб, телефон, тумбочка, телевизор, спутниковое телевидение, интернет, Wi-Fi, холодильник. В ванной: туалет, раковина, ванна, набор полотенец.
							</p>
						</div>
						<div class="hero-room__info-bottom">
							<div class="hero-room__price-sm">Цена за сутки: 2 500 руб.</div>
							<div class="hero-room__reservation">
								<a href="#" class="btn btn_blue">
									<span class="icon-reservation"></span>
									<span class="btn__text">Забронировать</span>
								</a>
							</div>
							<div class="hero-room__services">
								<span class="hero-room__services-title">Услуги:</span>
								<ul class="hero-room__list-icon">
									<li class="hero-room__item-icon">
										<span class="icon-wi-fi"></span>
									</li>
									<li class="hero-room__item-icon">
										<span class="icon-ordinator"></span>
									</li>
									<li class="hero-room__item-icon">
										<span class="icon-safe"></span>
									</li>
									<li class="hero-room__item-icon">
										<span class="icon-tv"></span>
									</li>
									<li class="hero-room__item-icon">
										<span class="icon-reservation-gr"></span>
									</li>
								</ul>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="map" id="map"></div>
	{% include "partials/_footer.html" %}

{% endblock %}
