---
title: Index page
menuActiveIndex: 1
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{{ header.block(1) }}
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="reservations">
						<h2 class="h2">Подтверждение брони</h2>
						<div class="reservations__block">
							<div class="reservations__block-header">
								<div class="reservations__room-picture" style="background-image: url(img/reservations.png);"></div>
								<div class="reservations__info">
									<div class="reservations__subtitle">Standard Twin Room</div>	
									<div class="reservations__list">
										<div class="reservations__item">
											<span class="reservations__label">Дата заезда/выезда:</span>4 чел.
										</div>
										<div class="reservations__item">
											<span class="reservations__label">Кол-во гостей:</span>4 чел.
										</div>	
									</div>
									<div class="reservations_price">Итого: 4 500 руб.</div>
								</div>
							</div>
							<div class="reservations__services">
								<span class="reservations__services-title">Услуги:</span>
								<ul class="reservations__list-icon">
									<li class="reservations__item-icon">
										<span class="icon-wi-fi"></span>
									</li>
									<li class="reservations__item-icon">
										<span class="icon-ordinator"></span>
									</li>
									<li class="reservations__item-icon">
										<span class="icon-safe"></span>
									</li>
									<li class="reservations__item-icon">
										<span class="icon-tv"></span>
									</li>
									<li class="reservations__item-icon">
										<span class="icon-reservations-gr"></span>
									</li>
								</ul>
							</div>
						</div>	
					</div>
				</div>
				<div class="col-lg-6">
					<div class="reservations__contact">Имя:  Алексей Миронов</div>
					<div class="reservations__contact">Почта:  3dteapot@gmail.com</div>
					<div class="reservations__contact">Телефон:  +375 29 369-89-96</div>
					<div class="reservations__contact">Особые пожелания:  Много полотенец и воды</div>
				</div>
			</div>
			
			
		</div>
	</div>
	<div class="map" id="map"></div>
	{% include "partials/_footer.html" %}

{% endblock %}
