---
title: Index services
---
menuActiveIndex: 3
---
{% extends "layouts/_layout.html" %}

{% block content %}
    
    {{ header.block(3) }}
	<div class="wrapper">
		<div class="container">
			<!-- begin service -->
			<h2>Услуги гоостиницы</h2>
			<span class="row-line"></span>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="service">
						<span class="service__icon icon-bag"></span>
						<div class="service__wrap">
							<h4>Бизнесменам</h4>
							<ul>
								<li>Мини-маркет на территории</li>
								<li>Кондиционер</li>
								<li>Отопление</li>
								<li>Лифт</li>
								<li>Номера для некурящих</li>
							</ul>
						</div>	
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="service">
						<span class="service__icon icon-eye"></span>
						<div class="service__wrap">
							<h4>Вид</h4>
							<ul>
								<li>Торговый автомат</li>
								<li>Банкомат на территории отеля</li>
								<li>Эскурсионное бюро</li>
								<li>Прачечная</li>
								<li>Круглосуточная стойка</li>
							</ul>
						</div>	
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="service">
						<span class="service__icon icon-horse"></span>
						<div class="service__wrap">
							<h4>Детям</h4>
							<ul>
								<li>Торговый автомат</li>
								<li>Банкомат на территории отеля</li>
								<li>Эскурсионное бюро</li>
								<li>Прачечная</li>
								<li>Круглосуточная стойка</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="service">
						<span class="service__icon icon-animal"></span>
						<div class="service__wrap">
							<h4>Домашние животные</h4>
							<ul>
								<li>Торговый автомат</li>
								<li>Банкомат на территории отеля</li>
								<li>Эскурсионное бюро</li>
								<li>Прачечная</li>
								<li>Круглосуточная стойка регистрации</li>
							</ul>
						</div>	
					</div>
				</div>
			</div>
			<span class="row-line"></span>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="service">
						<span class="service__icon icon-wi_fi"></span>
						<div class="service__wrap">
							<h4>Интернет</h4>
							<ul>
								<li>Мини-маркет на территории</li>
								<li>Кондиционер</li>
								<li>Отопление</li>
								<li>Лифт</li>
								<li>Номера для некурящих</li>
							</ul>
						</div>	
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="service">
						<span class="service__icon icon-kitchen"></span>
						<div class="service__wrap">
							<h4>Кухня</h4>
							<ul>
								<li>Торговый автомат</li>
								<li>Банкомат на территории отеля</li>
								<li>Эскурсионное бюро</li>
								<li>Прачечная</li>
								<li>Круглосуточная стойка</li>
							</ul>
						</div>	
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="service">
						<span class="service__icon icon-media"></span>
						<div class="service__wrap">
							<h4>Медиа и Технологии</h4>
							<ul>
								<li>Торговый автомат</li>
								<li>Банкомат на территории отеля</li>
								<li>Эскурсионное бюро</li>
								<li>Прачечная</li>
								<li>Круглосуточная стойка</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="service">
						<span class="service__icon icon-air"></span>
						<div class="service__wrap">
							<h4>На свежем воздухе</h4>
							<ul>
								<li>Торговый автомат</li>
								<li>Банкомат на территории отеля</li>
								<li>Эскурсионное бюро</li>
								<li>Прачечная</li>
								<li>Круглосуточная стойка регистрации</li>
							</ul>
						</div>	
					</div>
				</div>
			</div>
			<span class="row-line"></span>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="service">
						<span class="service__icon icon-check"></span>
						<div class="service__wrap">
							<h4>Общие</h4>
							<ul>
								<li>Мини-маркет на территории</li>
								<li>Кондиционер</li>
								<li>Отопление</li>
								<li>Лифт</li>
								<li>Номера для некурящих</li>
							</ul>
						</div>	
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="service">
						<span class="service__icon icon-parking"></span>
						<div class="service__wrap">
							<h4>Парковка</h4>
							<ul>
								<li>Торговый автомат</li>
								<li>Банкомат на территории отеля</li>
								<li>Эскурсионное бюро</li>
								<li>Прачечная</li>
								<li>Круглосуточная стойка</li>
							</ul>
						</div>	
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="service">
						<span class="service__icon icon-food"></span>
						<div class="service__wrap">
							<h4>Питание и напитки</h4>
							<ul>
								<li>Торговый автомат</li>
								<li>Банкомат на территории отеля</li>
								<li>Эскурсионное бюро</li>
								<li>Прачечная</li>
								<li>Круглосуточная стойка</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="service">
						<span class="service__icon icon-gift"></span>
						<div class="service__wrap">
							<h4>Презент от отеля</h4>
							<ul>
								<li>Торговый автомат</li>
								<li>Банкомат на территории отеля</li>
								<li>Эскурсионное бюро</li>
								<li>Прачечная</li>
								<li>Круглосуточная стойка регистрации</li>
							</ul>
						</div>	
					</div>
				</div>
			</div>
			<span class="row-line"></span>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="service">
						<span class="service__icon icon-ball"></span>
						<div class="service__wrap">
							<h4>Спорт и отдых</h4>
							<ul>
								<li>Мини-маркет на территории</li>
								<li>Кондиционер</li>
								<li>Отопление</li>
								<li>Лифт</li>
								<li>Номера для некурящих</li>
							</ul>
						</div>	
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="service">
						<span class="service__icon icon-service"></span>
						<div class="service__wrap">
							<h4>Сервисы</h4>
							<ul>
								<li>Торговый автомат</li>
								<li>Банкомат на территории отеля</li>
								<li>Эскурсионное бюро</li>
								<li>Прачечная</li>
								<li>Круглосуточная стойка</li>
							</ul>
						</div>	
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="service">
						<span class="service__icon icon-hire"></span>
						<div class="service__wrap">
							<h4>Прокат</h4>
							<ul>
								<li>Торговый автомат</li>
								<li>Банкомат на территории отеля</li>
								<li>Эскурсионное бюро</li>
								<li>Прачечная</li>
								<li>Круглосуточная стойка</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="service">
						<span class="service__icon icon-other"></span>
						<div class="service__wrap">
							<h4>Другое</h4>
							<ul>
								<li>Торговый автомат</li>
								<li>Банкомат на территории отеля</li>
								<li>Эскурсионное бюро</li>
								<li>Прачечная</li>
								<li>Круглосуточная стойка регистрации</li>
							</ul>
						</div>	
					</div>
				</div>
			</div>
			<div class="conference-hall">
				<h3>Конференц-залы гостиницы</h3>
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="conference-hall__block">
							<a href="http://via.placeholder.com/750x550" class="room-picture" data-fancybox="gallery3" style="background-image: url(http://via.placeholder.com/269x157);"></a>
							<h6>Конференц-зал «Петровский»</h6>
							<span class="text-strong">Площадь: <span class="text-normal">273 м2</span></span>
							<span class="text-strong">Количество мест: <span class="text-normal">250</span></span>
						</div>	
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="conference-hall__block">
							<a href="http://via.placeholder.com/750x550" class="room-picture" data-fancybox="gallery3" style="background-image: url(http://via.placeholder.com/269x157);"></a>
							<h6>Конференц-зал «Петровский»</h6>
							<span class="text-strong">Площадь: <span class="text-normal">273 м2</span></span>
							<span class="text-strong">Количество мест: <span class="text-normal">250</span></span>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="conference-hall__block">
							<a href="http://via.placeholder.com/750x550" class="room-picture" data-fancybox="gallery3" style="background-image: url(http://via.placeholder.com/269x157);"></a>
							<h6>Конференц-зал «Петровский»</h6>
							<span class="text-strong">Площадь: <span class="text-normal">273 м2</span></span>
							<span class="text-strong">Количество мест: <span class="text-normal">250</span></span>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="conference-hall__block">
							<a href="http://via.placeholder.com/750x550" class="room-picture" data-fancybox="gallery3" style="background-image: url(http://via.placeholder.com/269x157);"></a>
							<h6>Конференц-зал «Петровский»</h6>
							<span class="text-strong">Площадь: <span class="text-normal">273 м2</span></span>
							<span class="text-strong">Количество мест: <span class="text-normal">250</span></span>
						</div>
					</div>
				</div>
			</div>
			<!-- end contact -->	
		</div>	
	</div>
	<div class="map" id="map"></div>
	{% include "partials/_footer.html" %}

{% endblock %}
