.header
	position: relative
.header-head
	padding: 53px 0 43px
	display: flex
	justify-content: space-between
.logo
	width: 177px
	img
		max-width: 100%
		display: block
.contacts
	padding-top: 34px
	&__phone
	&__addres
		padding-left: 42px 

.address
	font-size: 14px
	font-weight: 300
.reservation
	padding-top: 34px
.navigation
	&__block
		display: none
		+sm
			display: block
.menu
	display: table
	width: 100%
	text-align: center
	&__item,
	li
		position: relative
		display: table-cell
		vertical-align: top
		&:not(:first-child)
			margin-left: 1px
			&:before
				position: absolute
				content: "" 
				top: 50%
				left: -1px
				height: 8px
				width: 0
				border-left: 1px dotted $white
				margin-top: -4px 
				z-index: 1
	&__link,
	a
		position: relative
		padding: 20px 35px
		color: $white 
		font-size: 14px
		font-weight: 600
		line-height: 1.1
		display: block
		z-index: 1
		background-image: linear-gradient(to top, #2e4281 0%, #415db5 100%)
		&:hover
			&:before
				opacity: 1 
		&:before
			position: absolute
			content: ""
			top: 0
			left: 0
			right: 0
			bottom: 0 
			z-index: -1
			opacity: 0
			transition: opacity .25s linear
			background-image: linear-gradient(to top, #983122 0%, #73251a 100%)
			.menu__item:first-child &,
			li:first-child &
				border-radius: 10px 0 0 10px 
			.menu__item:last-child &,
			li:last-child &
				border-radius: 0 10px 10px 0
		&:after
			position: absolute
			content: ""
			left: 50%
			bottom: -12px
			margin-left: -10px
			opacity: 0
			transition: opacity .25s linear
			+arr(20,12,$red,b)
		.menu__item:first-child &,
		li:first-child &
			border-radius: 10px 0 0 10px 
		.menu__item:last-child &,
		li:last-child &
			border-radius: 0 10px 10px 0
		.menu__item.is-active &,
		li.is-active &
			&:before,
			&:after
				opacity: 1 
				
.btn-menu
	span
		display: block