.conference-hall
	margin-top: 50px
	margin-bottom: 30px
	&__block
		margin-bottom: 50px

.text-strong
	display: block
	width: 100%
	font-weight: bold

.text-strong .text-normal
	font-weight: normal

.service
	position: relative
	margin: 15px 5px  0
	padding-bottom: 15px
	&__icon
		position: absolute
		display: block
		top: 19px
		left: -25px
		transform: translate(-50%,-50%)




.icon-bag
	+sr('bag@2x')

.icon-eye
	+sr('eye@2x')

.icon-horse
	+sr('horse@2x')

.icon-animal
	+sr('animal@2x')

.icon-wi-fi
	+sr('wi-fi@2x')

.icon-kitchen
	+sr('kitchen@2x')

.icon-media
	+sr('media@2x')

.icon-air
	+sr('air@2x')

.icon-check
	+sr('check@2x')

.icon-parking
	+sr('parking@2x')

.icon-food
	+sr('food@2x')

.icon-gift
	+sr('gift@2x')

.icon-ball
	+sr('ball@2x')

.icon-service
	+sr('service@2x')

.icon-hire
	+sr('hire@2x')

.icon-other
	+sr('other@2x')