$icons: (0:0)
$icons: map-merge($icons,('facebook': (X: -152px, Y:0px, W: 10px, H: 19px, TW: 162px, TH: 118px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('facebook@2x': (X: -70px, Y:-72px, W: 20px, H: 38px, TW: 162px, TH: 118px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('phone@2x': (X: 0px, Y:0px, W: 72px, H: 62px, TW: 162px, TH: 118px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('reservation': (X: -82px, Y:0px, W: 60px, H: 60px, TW: 162px, TH: 118px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('wi-fi': (X: -100px, Y:-72px, W: 30px, H: 23px, TW: 162px, TH: 118px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('wi-fi@2x': (X: 0px, Y:-72px, W: 60px, H: 46px, TW: 162px, TH: 118px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  
  display: inline-block

//
//.icon-facebook
//  width: 10px
//  height: 19px
//  background-image: url('../img/sprite.png')
//  background-position: -152px 0px
//
//.icon-facebook@2x
//  width: 20px
//  height: 38px
//  background-image: url('../img/sprite.png')
//  background-position: -70px -72px
//
//.icon-phone@2x
//  width: 72px
//  height: 62px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-reservation
//  width: 60px
//  height: 60px
//  background-image: url('../img/sprite.png')
//  background-position: -82px 0px
//
//.icon-wi-fi
//  width: 30px
//  height: 23px
//  background-image: url('../img/sprite.png')
//  background-position: -100px -72px
//
//.icon-wi-fi@2x
//  width: 60px
//  height: 46px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -72px
//