$icons: (0:0)
$icons: map-merge($icons,('air@2x': (X: -382px, Y:-62px, W: 42px, H: 54px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('animal@2x': (X: 0px, Y:-190px, W: 66px, H: 60px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('arrow-big-left': (X: -76px, Y:0px, W: 66px, H: 110px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('arrow-big-right': (X: 0px, Y:0px, W: 66px, H: 110px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('bag@2x': (X: -382px, Y:0px, W: 58px, H: 52px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('ball@2x': (X: -76px, Y:-190px, W: 60px, H: 60px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('check@2x': (X: -78px, Y:-260px, W: 72px, H: 42px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('eye@2x': (X: 0px, Y:-260px, W: 68px, H: 46px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('facebook': (X: -423px, Y:-126px, W: 10px, H: 19px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('facebook@2x': (X: -382px, Y:-241px, W: 20px, H: 38px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('food@2x': (X: 0px, Y:-316px, W: 62px, H: 50px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('gift@2x': (X: -214px, Y:-190px, W: 58px, H: 56px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('hire@2x': (X: -234px, Y:-76px, W: 64px, H: 64px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('horse@2x': (X: -84px, Y:-120px, W: 78px, H: 54px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('kitchen@2x': (X: -234px, Y:0px, W: 66px, H: 66px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('media@2x': (X: -146px, Y:-190px, W: 58px, H: 58px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('ordinator': (X: -382px, Y:-203px, W: 28px, H: 28px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('other@2x': (X: 0px, Y:-120px, W: 74px, H: 60px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('parking@2x': (X: -310px, Y:0px, W: 62px, H: 62px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('phone@2x': (X: -152px, Y:0px, W: 72px, H: 62px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('reservation-gr': (X: -382px, Y:-167px, W: 33px, H: 26px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('reservation': (X: -310px, Y:-72px, W: 60px, H: 60px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('safe': (X: -382px, Y:-126px, W: 31px, H: 31px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('service@2x': (X: -310px, Y:-142px, W: 60px, H: 60px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('tv': (X: -412px, Y:-241px, W: 26px, H: 28px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('wi-fi': (X: -382px, Y:-289px, W: 30px, H: 23px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('wi_fi@2x': (X: -72px, Y:-316px, W: 60px, H: 48px, TW: 440px, TH: 366px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
  display: inline-block
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  
  display: inline-block

//
//.icon-air@2x
//  width: 42px
//  height: 54px
//  background-image: url('../img/sprite.png')
//  background-position: -382px -62px
//
//.icon-animal@2x
//  width: 66px
//  height: 60px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -190px
//
//.icon-arrow-big-left
//  width: 66px
//  height: 110px
//  background-image: url('../img/sprite.png')
//  background-position: -76px 0px
//
//.icon-arrow-big-right
//  width: 66px
//  height: 110px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-bag@2x
//  width: 58px
//  height: 52px
//  background-image: url('../img/sprite.png')
//  background-position: -382px 0px
//
//.icon-ball@2x
//  width: 60px
//  height: 60px
//  background-image: url('../img/sprite.png')
//  background-position: -76px -190px
//
//.icon-check@2x
//  width: 72px
//  height: 42px
//  background-image: url('../img/sprite.png')
//  background-position: -78px -260px
//
//.icon-eye@2x
//  width: 68px
//  height: 46px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -260px
//
//.icon-facebook
//  width: 10px
//  height: 19px
//  background-image: url('../img/sprite.png')
//  background-position: -423px -126px
//
//.icon-facebook@2x
//  width: 20px
//  height: 38px
//  background-image: url('../img/sprite.png')
//  background-position: -382px -241px
//
//.icon-food@2x
//  width: 62px
//  height: 50px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -316px
//
//.icon-gift@2x
//  width: 58px
//  height: 56px
//  background-image: url('../img/sprite.png')
//  background-position: -214px -190px
//
//.icon-hire@2x
//  width: 64px
//  height: 64px
//  background-image: url('../img/sprite.png')
//  background-position: -234px -76px
//
//.icon-horse@2x
//  width: 78px
//  height: 54px
//  background-image: url('../img/sprite.png')
//  background-position: -84px -120px
//
//.icon-kitchen@2x
//  width: 66px
//  height: 66px
//  background-image: url('../img/sprite.png')
//  background-position: -234px 0px
//
//.icon-media@2x
//  width: 58px
//  height: 58px
//  background-image: url('../img/sprite.png')
//  background-position: -146px -190px
//
//.icon-ordinator
//  width: 28px
//  height: 28px
//  background-image: url('../img/sprite.png')
//  background-position: -382px -203px
//
//.icon-other@2x
//  width: 74px
//  height: 60px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -120px
//
//.icon-parking@2x
//  width: 62px
//  height: 62px
//  background-image: url('../img/sprite.png')
//  background-position: -310px 0px
//
//.icon-phone@2x
//  width: 72px
//  height: 62px
//  background-image: url('../img/sprite.png')
//  background-position: -152px 0px
//
//.icon-reservation-gr
//  width: 33px
//  height: 26px
//  background-image: url('../img/sprite.png')
//  background-position: -382px -167px
//
//.icon-reservation
//  width: 60px
//  height: 60px
//  background-image: url('../img/sprite.png')
//  background-position: -310px -72px
//
//.icon-safe
//  width: 31px
//  height: 31px
//  background-image: url('../img/sprite.png')
//  background-position: -382px -126px
//
//.icon-service@2x
//  width: 60px
//  height: 60px
//  background-image: url('../img/sprite.png')
//  background-position: -310px -142px
//
//.icon-tv
//  width: 26px
//  height: 28px
//  background-image: url('../img/sprite.png')
//  background-position: -412px -241px
//
//.icon-wi-fi
//  width: 30px
//  height: 23px
//  background-image: url('../img/sprite.png')
//  background-position: -382px -289px
//
//.icon-wi_fi@2x
//  width: 60px
//  height: 48px
//  background-image: url('../img/sprite.png')
//  background-position: -72px -316px
//